*{
    margin: 0px;
    padding: 0px;
}

.navigation{
    height: 80px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
}

.container{
    width: 80%;
    height: 80px;
    
    display: flex;
    justify-content: space-between;
}



.logo{
    width: 15%;
    height: 80px;
    
    font-size: 40px;
    font-family: 'Segoe UI';
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}


.nav{
    width: 35%;
    height: 80px;
}

.nav-links
{
    display: flex;
}

.nav-link{
    list-style-type:none;
    height: 80px;
    width: 25%;
    
    text-align: center;
    line-height: 80px;
    font-family: 'segoe UI';
    cursor: pointer;
    color: white;
}

.nav-link:hover{
    background-color: white;
    color: black;
}




.banner{
    height: 700px;
    width: 100%;
    background-color:palevioletred;
    background-image: url('./images/banner-img.jpg.crdownload');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
}

.banner-section{
    height: 200px;
    width: 40%;
    
    margin-left: 10%;
    font-size: 100px;
    font-weight: bold;
    font-family: 'segoe UI';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.btn{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    background-color:purple;
    color: white;
    cursor: pointer;
}

.btn:hover{
    background-color:salmon;
}



.films{
    padding-top: 50px;
    padding-bottom: 50px;
   
    display: flex;
    flex-direction: column;
    align-items: center;
}

.films-container{
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
    
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title{
    font-size: 30px;
    font-family: 'segoe UI';
}

.film-card{
    width: 22%;
    height: 450px;
    background-color: yellow;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    margin-bottom: 30px;
}

.film-detail{
    height: 225px;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
    transition: .4s;
    cursor: pointer;
}

.film-detail:hover{
    height: 450px;
}

.film-title{
    color: white;
    font-family: 'segoe UI';
    font-size: 40px;
}

.padd{
    padding: 20px;
}

.card-1{
    background-image: url('./image/220px-Tujhe_Meri_Kasam_poster.jpg');
}

.card-2{
    background-image: url('./image/sachein.jpg');
}

.card-3{
    background-image: url('./image/santhoshsub.jpg');
}

.card-4{
    background-image: url('./image/Chance-pe-dance.jpg');
}

.card-5{
    background-image: url('./image/boys.jpg');
}




  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
  body
  {
      background-color:snow;
  }
  img
  {
      height: 400px;
      width: 100%;
  }